{% extends 'base.html' %}

{% block title %}
  Properties - Dreams Land Realty
{% endblock %}

{% block content %}
  <br />
  <br />
  <!-- Parallax Section -->
  <div class="parallax-section animate-section">
    <div class="parallax-content text-center text-white animate-section">
      <br>
      <h1 class="text-white">Properties</h1>
      <p class="text-white">Dreams Land Realty: Your Trusted Real Estate Partner</p>

      <!-- Search Bar Section -->
      <div class="container mt-4 animate-section">
        <div class="search-bar d-flex justify-content-center">
          <div class="input-group align-items-stretch">
            <button class="btn btn-primary location-btn animate-section" type="button" style=" border-radius: 5px;"><i class="fas fa-map-marker-alt" style="font-size: 22px; border-radius: 5px;"></i></button>
            <input type="text" class="form-control animate-section" placeholder="Search properties..." aria-label="Search properties" />
            <button class="btn btn-primary bars-btn animate-section" type="button" style="border-radius: 5px;"><i class="fa fa-bars" style="font-size: 22px; border-radius: 5px;"></i></button>
            <button class="contact-btn btn btn-primary animate-section" type="button" style=" border-radius: 5px; height: 60px">Find Property</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Location Overlay -->
  <div class="overlay location-overlay">
    <!-- Location Info Container -->
    <div class="location-container">
      <h3 class="section-heading">UAE Locations</h3>
      <div class="location-cards d-flex flex-wrap">
        <!-- Abu Dhabi Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/abu_dhabi">
            <img src="https://content.r9cdn.net/rimg/dimg/a8/85/bbf8aa0b-city-9457-164d6a9147e.jpg?width=1366&height=768&xhint=2731&yhint=1539&crop=true" class="card-img" alt="Abu Dhabi" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Abu Dhabi</h5>
            </div>
          </a>
        </div>

        <!-- Sharjah Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/sharjah">
            <img src="https://www.shutterstock.com/image-photo/sharjah-al-majaz-noor-mosque-600nw-2374439611.jpg" class="card-img" alt="Sharjah" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Sharjah</h5>
            </div>
          </a>
        </div>

        <!-- Dubai Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/dubai">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Dubai_Skylines_at_night_%28Pexels_3787839%29.jpg/1200px-Dubai_Skylines_at_night_%28Pexels_3787839%29.jpg" class="card-img" alt="Dubai" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Dubai</h5>
            </div>
          </a>
        </div>

        <!-- Umm Al Quwain Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/umm_al_quwain">
            <img src="https://i.pinimg.com/originals/5b/95/05/5b9505e8a045785231bc1317b9d62771.jpg" class="card-img" alt="Umm Al Quwain" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Umm Al Quwain</h5>
            </div>
          </a>
        </div>

        <!-- Fujairah Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/fujairah">
            <img src="https://thetravelshots.com/wp-content/uploads/2021/10/Fujairah.jpg" class="card-img" alt="Fujairah" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Fujairah</h5>
            </div>
          </a>
        </div>

        <!-- Ajman Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/ajman">
            <img src="https://travelsetu.com/apps/uploads/new_destinations_photos/destination/2024/06/27/c73e460a6d7e461ecb401c3dc03838fc_1000x1000.jpg" class="card-img" alt="Ajman" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Ajman</h5>
            </div>
          </a>
        </div>

        <!-- Ras Al Khaimah Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/ras_al_khaimah">
            <img src="https://media.istockphoto.com/id/672429170/photo/ras-al-khaimah-creek-at-night.jpg?s=612x612&w=0&k=20&c=py_0Aiv3nRGmT3U2O39eiiFILVrpWBjNGK9FYjXN89M=" class="card-img" alt="Ras Al Khaimah" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Ras Al Khaimah</h5>
            </div>
          </a>
        </div>
      </div>

      <br />
      <h3 class="section-heading mt-4">INDIA Locations</h3>
      <div class="location-cards d-flex flex-wrap">
        <!-- Trivandrum Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/trivandrum">
            <img src="https://media.istockphoto.com/id/510698174/photo/beach-in-thiruvananthapuram.jpg?s=612x612&w=0&k=20&c=6XZx-h3IBycESwKMP5J-k-tlic741vPkGPQICM6vFuM=" class="card-img" alt="Trivandrum" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Trivandrum</h5>
            </div>
          </a>
        </div>

        <!-- Alappuzha Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/alappuzha">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Alappuzha_Boat_Beauty_W.jpg" class="card-img" alt="Alappuzha" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Alappuzha</h5>
            </div>
          </a>
        </div>

        <!-- Kottayam Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/kottayam">
            <img src="https://irisholidays.com/keralatourism/wp-content/uploads/2021/05/places-to-visit-in-kottayam.jpg" class="card-img" alt="Kottayam" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Kottayam</h5>
            </div>
          </a>
        </div>

        <!-- Kochi Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/kochi">
            <img src="https://media.istockphoto.com/id/148423909/photo/a-sunset-over-chinese-fishing-nets-by-a-canoe-in-cochin.jpg?s=612x612&w=0&k=20&c=76RtSZhX5iheTAyDuH6Uzl9JNWD5axbWlEWc2bXKChw=" class="card-img" alt="Kochi" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Kochi</h5>
            </div>
          </a>
        </div>

        <!-- Thrissur Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/thrissur">
            <img src="https://www.skyscrapercity.com/cdn-cgi/image/format=auto,onerror=redirect,width=1920,height=1920,fit=scale-down/https://www.skyscrapercity.com/attachments/untitled-png.934546/" class="card-img" alt="Thrissur" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Thrissur</h5>
            </div>
          </a>
        </div>

        <!-- Kozhikode Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/kozhikode">
            <img src="https://t4.ftcdn.net/jpg/04/89/49/35/360_F_489493520_RpxWXdoNKCda1bnrjp3Bi9XqiiZFJID8.jpg" class="card-img" alt="Kozhikode" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Kozhikode</h5>
            </div>
          </a>
        </div>

        <!-- Kannur Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/kannur">
            <img src="https://assets-news.housing.com/news/wp-content/uploads/2022/09/02151433/places-to-visit-in-kannur-shutterstock_1604282707-1200x700-compressed.jpg" class="card-img" alt="Kannur" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Kannur</h5>
            </div>
          </a>
        </div>

        <!-- Pune Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/pune">
            <img src="https://images.unsplash.com/photo-1553064483-f10fe837615f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cHVuZSUyMGNpdHl8ZW58MHx8MHx8fDA%3D" class="card-img" alt="Pune" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Pune</h5>
            </div>
          </a>
        </div>

        <!-- Delhi Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/delhi">
            <img src="https://media.istockphoto.com/id/510795912/photo/india-gate.jpg?s=612x612&w=0&k=20&c=kZkdrEDXEtoLK6Qh8XPywc9VYV95mJXXcWLBxHftN_U=" class="card-img" alt="Delhi" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Delhi</h5>
            </div>
          </a>
        </div>

        <!-- Noida Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/noida">
            <img src="https://media.istockphoto.com/id/1164436096/photo/aerial-cityscape-shot-of-noida-delhi-grugaon-at-dusk-night.jpg?s=612x612&w=0&k=20&c=S6zj4NGToM8us-sw8zCBNhCiZjhoZMqOKuKuX1OTtbI=" class="card-img" alt="Noida" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Noida</h5>
            </div>
          </a>
        </div>

        <!-- Gurugram Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/gurugram">
            <img src="https://images.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/06/01/Pictures/aerial-view-photo-gurugram-using-ht-drone_29ee0454-657c-11e8-b4a9-2154dcd09999.jpg" class="card-img" alt="Gurugram" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Gurugram</h5>
            </div>
          </a>
        </div>

        <!-- Lucknow Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/lucknow">
            <img src="https://media.istockphoto.com/id/671326926/photo/view-to-asfi-masjid-or-asfi-mosque-from-bara-imambara-balcony-lucknow.jpg?s=612x612&w=0&k=20&c=1R-4J0CuYxtToFD3AMFG67G9g697USgafrJUbsqvWeI=" class="card-img" alt="Lucknow" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Lucknow</h5>
            </div>
          </a>
        </div>

        <!-- Hyderbad Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/hyderabad">
            <img src="https://media.istockphoto.com/id/1215274990/photo/high-wide-angle-view-of-charminar-in-the-night.jpg?s=612x612&w=0&k=20&c=byyIjqgbslf-L191n6SJu0s35fvNoVeWsxV5rIPK7Sk=" class="card-img" alt="Hyderbad" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Hyderabad</h5>
            </div>
          </a>
        </div>

        <!-- Chennai Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/chennai">
            <img src="https://media.istockphoto.com/id/1226340114/photo/puratchi-thalaivar-dr-mgr-central-railway-station-chennai-central-railway-station-india.jpg?s=612x612&w=0&k=20&c=lZjBnWBBoLiApWZUUWP1Vl3XAVdKjYMcgGpItXv_L14=" class="card-img" alt="Chennai" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Chennai</h5>
            </div>
          </a>
        </div>

        <!-- Banglore Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/banglore">
            <img src="https://static.toiimg.com/photo/msid-54559212,width-96,height-65.cms" class="card-img" alt="Banglore" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Banglore</h5>
            </div>
          </a>
        </div>

        <!-- Kolkata Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/kolkata">
            <img src="https://media.istockphoto.com/id/1164386039/photo/howrah-bridge-on-river-ganges-at-kolkata-at-twilight-with-moody-sky.jpg?s=612x612&w=0&k=20&c=CHrNWdInFSDyERdvgd0f8935hZcBQU6lbYCE4LlXqUY=" class="card-img" alt="Kolkata" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Kolkata</h5>
            </div>
          </a>
        </div>

        <!-- Ahmedabad Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/ahmedabad">
            <img src="https://plus.unsplash.com/premium_photo-1697729749187-ec80a3f41969?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YWhtZWRhYmFkJTIwY2l0eXxlbnwwfHwwfHx8MA%3D%3D" class="card-img" alt="Ahmedabad" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Ahmedabad</h5>
            </div>
          </a>
        </div>

        <!-- Mumbai Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/mumbai">
            <img src="https://media.istockphoto.com/id/860528756/photo/the-bandraworli-sea-link-mumbai-india.jpg?s=612x612&w=0&k=20&c=xT9TK7oYkP6TP62lHqP0H-9mfz9cWva4OcYEnt06cjc=" class="card-img" alt="Mumbai" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Mumbai</h5>
            </div>
          </a>
        </div>

        <!-- Coimbatore Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/coimbatore">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/CHIL_SEZ.jpg" class="card-img" alt="Coimbatore" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Coimbatore</h5>
            </div>
          </a>
        </div>

        <!-- Goa Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/goa">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/5f/a5/e7/caption.jpg?w=500&h=400&s=1" class="card-img" alt="Goa" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Goa</h5>
            </div>
          </a>
        </div>

        <!-- Nagpur Card -->
        <div class="card border shadow-sm position-relative">
          <a href="locations/nagpur">
            <img src="https://harihar.com/assets/img/best-invest-in-nagpur.webp" class="card-img" alt="Nagpur" />
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
              <h5>Nagpur</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Filter Container -->
  <div class="overlay filter-overlay">
    <div class="filter-container">
      <h3 class="section-heading">Advanced Filters</h3>

      <!-- Country Selection Section -->
      <div class="d-flex justify-content-left mb-3">
        <button class="btn btn-country" style="background-color: #16223a;; color: white; margin: 10px;" id="btn-dubai">U A E</button>
        <button class="btn btn-country" style="background-color: #16223a;; color: white; margin: 10px;" id="btn-india">I N D I A</button>
      </div>

      <!-- Filter Form -->
      <form id="filter-form">
        <!-- Dynamic Location Search -->
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" placeholder="Search by location..." />
        </div>

        <!-- Property Type Section -->
        <div class="form-group">
          <label for="property-type">Property Type</label>
          <select class="form-control" id="property-type">
            <option value="" disabled selected>Select Property Type</option>
          </select>
        </div>

        <!-- Property Subtype Section -->
        <div class="form-group" id="property-subtypes" style="display: none;">
          <label>Property Subtype</label>
          <select class="form-control" id="property-subtype"></select>
        </div>

        <!-- Conditional Filters -->
        <div id="conditional-filters" style="display: none;">
          <!-- Price Range Slider -->
          <div class="form-group">
            <label for="price-range">Price Range</label>
            <div class="d-flex justify-content-between">
              <input type="range" class="form-range" id="min-price" min="0" max="10000000" step="10000" value="0" />
              <input type="range" class="form-range" id="max-price" min="0" max="10000000" step="10000" value="10000000" />
            </div>
            <p class="text-muted" id="price-display">0 - 10,000,000</p>
          </div>

          <!-- Square Footage Slider -->
          <div class="form-group" id="sqft-range" style="display: none;">
            <label for="sqft-range">Square Feet</label>
            <div class="d-flex justify-content-between">
              <input type="range" class="form-range" id="min-sqft" min="500" max="5000" step="100" value="500" />
              <input type="range" class="form-range" id="max-sqft" min="500" max="5000" step="100" value="5000" />
            </div>
            <p class="text-muted" id="sqft-display">500 - 5000 sqft</p>
          </div>

          <!-- BHK Options -->
          <div class="form-group mb-4" id="bhk-options" style="display: flex; gap: 10px;">
            <label>BHK</label>
            <br />
            <div class="btn-group" role="group">
              <input type="radio" class="btn-check" name="bhk" id="bhk-1" value="1" autocomplete="off" />
              <label class="btn btn-outline-primary" for="bhk-1">1</label>

              <input type="radio" class="btn-check" name="bhk" id="bhk-2" value="2" autocomplete="off" />
              <label class="btn btn-outline-primary" for="bhk-2">2</label>

              <input type="radio" class="btn-check" name="bhk" id="bhk-3" value="3" autocomplete="off" />
              <label class="btn btn-outline-primary" for="bhk-3">3</label>

              <input type="radio" class="btn-check" name="bhk" id="bhk-4" value="4" autocomplete="off" />
              <label class="btn btn-outline-primary" for="bhk-4">4</label>

              <input type="radio" class="btn-check" name="bhk" id="bhk-5" value="5" autocomplete="off" />
              <label class="btn btn-outline-primary" for="bhk-5">5</label>

              <input type="radio" class="btn-check" name="bhk" id="bhk-5+" value="5+" autocomplete="off" />
              <label class="btn btn-outline-primary" for="bhk-5+">5+</label>
            </div>
          </div>

          <!-- Status Dropdown -->
          <div class="form-group">
            <label for="property-status">Status</label>
            <select class="form-control" id="property-status">
              <option value="available">Available</option>
              <option value="sold">Sold</option>
            </select>
          </div>

          <!-- Sort By Section -->
          <div class="form-group">
            <label for="sort-by">Sort By</label>
            <select class="form-control" id="sort-by">
              <option value="new-constructions">New Constructions</option>
              <option value="under-constructions">Under Constructions</option>
            </select>
          </div>
        </div>

        <!-- Apply Filters Section -->
        <div class="d-flex justify-content-between mt-4">
          <button type="submit" class="btn btn-primary">Apply Filters</button>
          <button type="button" class="btn btn-secondary" id="clear-filter">Clear</button>
        </div>
      </form>
    </div>
  </div>
  <br />

  <div class="container-fluid mt-5">
    <b>
      <h5 class="text-center animate-section" style="font-size: 32px;">Featured Properties</h5>
    </b>
    <!-- Row -->
    <div class="row justify-content-center gx-3 mt-4">
    {% for property in properties %}
      <div class="col-md-4">
        <div class="card">
            <!-- Display property main image -->
            {% if property.property_main_image %}
            <img src="{{ property.property_main_image.url }}" alt="{{ property.property_name }}" class="card-img-top" />
            {% else %}
            <img src="/static/default-image.jpg" alt="Default Image" class="card-img-top" />
            {% endif %}
  
            <div class="container">
                <h4>{{ property.property_name }}</h4>
                <p>{{ property.property_location }}</p>
                <div class="info-row">
                    <div class="row">
                        <div class="col">
                            <p class="p12">
                                <b>{{ property.bhk }} BHK</b>
                            </p>
                            <p class="p12">Configurations</p>
                        </div>
                        <div class="col">
                            <p class="p12">
                                <b>{{ property.square_feet }}</b>
                            </p>
                            <p class="p12">sq.ft</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <p class="p12">
                                <b>{{ property.possession_date|date:"F Y" }}</b>
                            </p>
                            <p class="p12">Possession</p>
                        </div>
                        <div class="col">
                            <p class="p12">Status</p>
                            <span style="color: {% if property.is_available %}green{% else %}red{% endif %};">
                                {{ property.get_property_status_display }}
                            </span>              
                        </div>
                    </div>
                    <br />
                    <a href="{% url 'propertydetails' property.id %}" class="btn btn-primary contact-btn">Contact Now</a>
                </div>
            </div>
  
            <!-- New Description Container -->
            <div class="description-container">
                <p>{{ property.short_description }}</p>
            </div>
        </div>
      </div>
    {% empty %}
    <p class="text-center">No properties found.</p>
    {% endfor %}
    </div>
  </div>

  <br />
  <br />
  <br />

  <style>
    .parallax-section {
      background-image: url('https://bladerunnerunicorn.com/wp-content/uploads/2024/02/1-The-booming-demand-for-luxury-real-estate-in-Dubai-attracts-the-global-elite.jpg');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
    }
    
    .parallax-section::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: -1;
    }
    
    .parallax-content {
      z-index: 2;
    }
    
    .parallax-content h1 {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    
    .parallax-content p {
      font-size: 1.25rem;
      font-weight: 300;
    }
    
    /* Responsive adjustments */
    @media (max-width: 768px) {
      .parallax-content h1 {
        font-size: 2.5rem;
      }
    
      .parallax-content p {
        font-size: 1rem;
      }
    
      .overlay-heading {
        font-size: 20px; /* Ensure the heading is appropriately sized on mobile */
      }
    
      .text {
        font-size: 14px; /* Adjust the paragraph text for better readability */
      }
    }
  </style>
{% endblock %}
