{% extends 'base.html' %}

{% block title %}
  Properties - Dreams Land Realty
{% endblock %}

{% block content %}
  <br />
  <br />
  <!-- Parallax Section -->
  <div class="parallax-section animate-section">
    <div class="parallax-content text-center text-white animate-section">
      <br />
      <h1 class="text-white">Properties</h1>
      <p class="text-white">Dreams Land Realty: Your Trusted Real Estate Partner</p>

      <!-- Search Bar Section -->
      <div class="container mt-4 animate-section">
        <form method="GET" action="{% url 'search_properties' %}">
        <div class="search-bar d-flex justify-content-center">
         <div class="input-group align-items-stretch">
          <button class="btn btn-primary location-btn animate-section" type="button" style="border-radius: 5px;">
           <i class="fas fa-map-marker-alt" style="font-size: 22px; border-radius: 5px;"></i>
          </button>
          <!-- Autocomplete input field -->
          <input 
           type="text" 
           id="locationSearch" 
           name="location" 
           class="form-control animate-section" 
           placeholder="Search properties..." 
           aria-label="Search properties" 
           list="locationList" 
           autocomplete="off"/>
          <datalist id="locationList">
           {% for key, value in locations.items %}
             <option value="{{ value }}"></option>
           {% endfor %}
          </datalist>
          <button class="btn btn-primary bars-btn animate-section" type="button" style="border-radius: 5px;">
           <i class="fa fa-bars" style="font-size: 22px; border-radius: 5px;"></i>
          </button>
          <button 
           type="submit" 
           class="contact-btn btn btn-primary animate-section" 
           style="border-radius: 5px; height: 60px;">
           Find Property
          </button>
         </div>
        </div>
        </form>
       </div>
    </div>
  </div>

  <!-- Location Overlay -->
  {% include 'filterlocation.html' %}

  <!-- Main Filter Container -->
  {% include 'advancedfilters.html' %}
  <br />

  <div class="container-fluid mt-5">
    <b><h5 class="text-center animate-section" style="font-size: 32px;">Featured Properties</h5></b>
    <!-- Row -->
    <div class="row justify-content-center gx-3 mt-4">
      {% for property in properties %}
        <div class="col-md-4">
          <div class="card">
            <!-- Display property main image -->
            {% if property.property_main_image %}
              <img src="{{ property.property_main_image.url }}" alt="{{ property.property_name }}" class="card-img-top" />
            {% else %}
              <img src="/static/default-image.jpg" alt="Default Image" class="card-img-top" />
            {% endif %}

            <div class="container">
              <h4>{{ property.property_name }}</h4>
              <p>{{ property.property_location }}</p>
              <div class="info-row">
                <div class="row">
                  <div class="col">
                    <p class="p12">
                      <b>{{ property.bhk }} BHK</b>
                    </p>
                    <p class="p12">Configurations</p>
                  </div>
                  <div class="col">
                    <p class="p12">
                      <b>{{ property.square_feet }}</b>
                    </p>
                    <p class="p12">sq.ft</p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <p class="p12">
                      <b>{{ property.possession_date|date:'F Y' }}</b>
                    </p>
                    <p class="p12">Possession</p>
                  </div>
                  <div class="col">
                    <p class="p12">Status</p>
                    <span style="color: {% if property.is_available %}
                        green
                      {% else %}
                        red
                      {% endif %};">
                      {{ property.get_property_status_display }}
                    </span>
                  </div>
                </div>
                <br />
                <a href="{% url 'propertydetails' property.id %}" class="btn btn-primary contact-btn">Contact Now</a>
              </div>
            </div>

            <!-- New Description Container -->
            <div class="description-container">
              <p>{{ property.short_description }}</p>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-center">No properties found.</p>
      {% endfor %}
    </div>
  </div>

  <br />
  <br />
  <br />

  <style>
    .parallax-section {
      background-image: url('https://bladerunnerunicorn.com/wp-content/uploads/2024/02/1-The-booming-demand-for-luxury-real-estate-in-Dubai-attracts-the-global-elite.jpg');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
    }
    
    .parallax-section::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: -1;
    }
    
    .parallax-content {
      z-index: 2;
    }
    
    .parallax-content h1 {
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    
    .parallax-content p {
      font-size: 1.25rem;
      font-weight: 300;
    }
    
    /* Responsive adjustments */
    @media (max-width: 768px) {
      .parallax-content h1 {
        font-size: 2.5rem;
      }
    
      .parallax-content p {
        font-size: 1rem;
      }
    
      .overlay-heading {
        font-size: 20px; /* Ensure the heading is appropriately sized on mobile */
      }
    
      .text {
        font-size: 14px; /* Adjust the paragraph text for better readability */
      }
    }
  </style>
{% endblock %}
